In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "a": ["1", "2", "x", None],
    "b": ["3.5", " ", "", "4.1"],
    "c": ["ok", "no", "yes", None]
})

df

      a    b     c
0     1  3.5    ok
1     2         no
2     x        yes
3  None  4.1  None

In [ ]:
def me_test(df:pd.DataFrame) -> pd.DataFrame:
    results = []

    object_cols = df.select_dtypes(include=["object", "string"])

    for col in object_cols:
        series: df[col]

        non_null: series.dropna()

        non_empty = non_null[non_null.astype(str).str.strip() != ""]

        coerced = pd.to_numeric(non_empty, errors="coerce")

In [5]:
import pandas as pd
import numpy as np

def find_non_numeric_values(df: pd.DataFrame) -> pd.DataFrame:
    results = []

    # Only inspect object/string columns
    object_cols = df.select_dtypes(include=["object", "string"]).columns

    for col in object_cols:
        series = df[col]

        # Drop nulls
        non_null = series.dropna()

        # Remove empty or whitespace-only strings
        non_empty = non_null[non_null.astype(str).str.strip() != ""]

        # Attempt numeric conversion
        coerced = pd.to_numeric(non_empty, errors="coerce")

        # Identify bad values
        bad_mask = coerced.isna()
        bad_values = non_empty[bad_mask]

        if len(bad_values) > 0:
            results.append({
                "column": col,
                "bad_count": len(bad_values),
                "bad_examples": bad_values.unique()[:3].tolist()
            })

    return pd.DataFrame(results)

In [7]:
find_non_numeric_values(df)

  column  bad_count   bad_examples
0      a          1            [x]
1      c          3  [ok, no, yes]